{% load static %}

<!DOCTYPE html>
<html>

  <head>
    <title>Django blog</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <link type="text/css"  href="{% static 'django_blog.css' %}" rel="stylesheet">
  </head>

  <body>
    <div id="header">  {# header begins here #}
     <div class="nav-right">
      <ul id="control-bar">
      {% if user.is_authenticated %}
          <p><font color="yellow">You are logged in as {{user.username}}</font></p>
          {% if user.is_staff %}
              <li><a href="{% url 'admin:index' %}">admin</a></li>
          {% endif %}
          <li><a href="{% url 'logout' %}">logout</a></li>
      {% else %}
          <p><font color="red"> You are not logged in</font></p>
          <li><a href="{% url 'login' %}">login</a></li>
      {% endif %}
      </ul>
     </div>
    </div>          
    
    <div id="container">
      <div id="content">
      {% block content %}
       [content will go here]
      {% endblock %}
      </div>
    </div>
  </body>

</html>
