{% extends "base.html" %}

{% block content %}
  <h1>Posts</h1>

  {% comment %} here is where the query happens {% endcomment %}
  
  {% for post in posts %}
  
  <div class="post">
    <!-- <h2><a href="{% url 'blog_detail' post.pk %} ">{{ post }}</a></h2> -->
    <div><h3> <a href="{{ post.get_absolute_url }} ">{{post}}</a></h3></div>
  
    <p class="byline">
      Posted by {{ post.author.username }} &mdash; {{ post.published_date }}
    </p>
  
    <div class="post-body">
      {{ post.text }}
    </div>
    
    <ul class="categories">
      {% for category in post.categories.all %}
        <li><b><font color="green">Category: </font></b><i>{{ category }}</i></li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <p><b><font color="violet"> Reviews: </font></b><p>
    <ul class="reviews">
      {% for review in post.reviews.all %}
        <li>{{ review.review }}: ({{ review.author }})</li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}

{% endblock content %}

